/* mobile version */
/* identify global colors of project */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  /* text colors */
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  /* line add more space to read easy */
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  /* 62.5% of 70px = 7rem */
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* stander break point for desktop and laptop*/
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}


/* links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/* add arrow after text content */
.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    /* apply changes smoothly */
    transition: margin 1.15s;
}
/* apply hover to targeted element inserted in ::after*/
.link-arrow:hover::after {
    margin-left: 10px;
}

/* media query of links in large screen */
@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}