<!-- independent content -->
<section class="block container">
    <header class="block__header">
      <h2>Host on the Could to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, repellendus.</p>
    </header>
    <article class="grid grid--cols-2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          dolorum maiores ratione possimus? Ipsa hic earum, eius odio, dolore
          totam sequi dolor sed minus error maiores dolores tenetur voluptas
          perferendis!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source type="image/webp" srcset="images/easy.webp" />
        <source type="image/jpg" srcset="images/easy.jpg" />
    
        <img class="feature__image" src="/images/easy.jpg" />
      </picture>
    </article>
    <article class="grid grid--cols-2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Simply Fast Website</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          dolorum maiores ratione possimus? Ipsa hic earum, eius odio, dolore
          totam sequi dolor sed minus error maiores dolores tenetur voluptas
          perferendis!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source type="image/webp" srcset="images/fast.webp" />
        <source type="image/jpg" srcset="images/fast.jpg" />
    
        <img class="feature__image" src="/images/fast.jpg" />
      </picture>
    </article>
    <article class="grid grid--cols-2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">WordPress made easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          dolorum maiores ratione possimus? Ipsa hic earum, eius odio, dolore
          totam sequi dolor sed minus error maiores dolores tenetur voluptas
          perferendis!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source type="image/webp" srcset="images/wordpress.webp" />
        <source type="image/jpg" srcset="images/wordpress.jpg" />
    
        <img class="feature__image" src="/images/wordpress.jpg" />
      </picture>
    </article>
  </section>