<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--cols-2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Cloud Hosting for Pros</h1>
        <p class="hero__tagline">
          Deploy your website in less than 60 seconds.
        </p>
        <a href="" class="btn btn--accent btn--stretched">GET STARTED</a>
      </header>
      <picture>
        <!-- apply different image quality for users it did not work at my end because I do not have photoshop -->
        <!-- <source
          type="image/webp"
          srcset="images/smallBanner.webp"
        />
        <source
        type="image/png"
        srcset="images/smallBanner.png"
      /> -->
        <img class="hero__image" src="/images/banner.png" />
      </picture>
    </div>
  </section>